<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jjuc_backend_demo.mapper.StudentMapper">

    <resultMap type="com.example.jjuc_backend_demo.entity.Student" id="StudentMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
    </resultMap>

    <select id="queryStudent" resultMap="StudentMap">
        SELECT * FROM `student` ORDER  BY `id` ASC
    </select>
</mapper>